// _Modding-never-changes-vol-2.scss
//
// Variables that customize Foundation 4 and the AsciiDoc CSS components for the _Modding never changes vol. 2_ theme.


@import "defaults";


//
// Font set.
//
// Font "Lora", by Cyreal.
// Font "Ubuntu Mono", by Dalton Maag.
// Font "321 Impact", by Kenny Redman.
//
// @see https://fonts.google.com/specimen/Lora
// @see https://fonts.google.com/specimen/Ubuntu+Mono
// @see http://www.fontspace.com/kenny-redman/321-impact
//

@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@font-face {
	font-family: 'Fallout';
	src: url(../fonts/321impact.ttf);
}


//
// Base palette colors.
// Created using a custom ColorSnap palette with a classic Fallout 3 wallpaper.
//
// @see http://snapyourcolors.com/Chip/wiYPie
//
$tricorn_black: #2F2F30;
$whitetail: #F4EFE4;
$foxhall_green: #454B40;
$gauntlet_gray: #78736E;
$sensible_hue: #B6B5AB;


//
// Font variables.
//
$headings_font: 'Fallout';
$body_base_font: 'Lora', serif;
$monospace_font: 'Ubuntu Mono', monospace;


//
// Inline code.
//
$code-font-family: $monospace_font;
$code-color: $foxhall_green;
$code-bg-color: $sensible_hue;
$code-padding: 2px;


//
// Code blocks.
//
$pre-font-size: .9em;
$pre-font-family: $monospace_font;
$pre-bg: $sensible_hue;
$pre-line-height: 1.4;
$pre-border-size: 1px;
$pre-border-color: $gauntlet_gray;
$pre-border-style: solid;
$pre-font-color: $tricorn_black;
$pre-padding: .8em .8em .65em .8em;


//
// Lists
//
$list-side-margin: 2em;